<!doctype html>
<html>
<head> 
	<title> karaoke </title>
    <link rel="stylesheet" href="static/style.css" type="text/css"> </link>
    <link rel="stylesheet" href="static/landing.css" type="text/css"> </link>
    <link rel="stylesheet" href="static/room.css" type="text/css"> </link>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> </link>

    <!-- peer 
    <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
    --> 

    <!-- simple peer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/6.2.1/simplepeer.min.js"> </script>
   
    <!-- socket -->
    <script src="/socket.io/socket.io.js"> </script>
   

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- velocity -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    
</head>

<body>
    <div id="user-info">
        <div id="join-form" class="full-modal"> 
            <div class="filter filter-dark"> </div>
            <form class="form-container">
                <div class="form-group">
                    <label> Name </label>
                    <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="username">
                </div>
                <div id="join-submit" style="float: right; margin: 0" class="button">
                    <div class="button-text">
                        join
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="user"> 
        <div class="absolute-center"> 
            <div id="mic"> mic </div>
        </div>
    </div>
</body>

<script src="static/userTest.js"> </script>


<!-- 
    <script src="static/userTest.js"> </script>
    <script src="static/room.js"> </script>
    <script src="static/mic.js"> </script>
 -->





</html>