<!doctype html>
<html>
<head> 
	<title> karaoke </title>
    <link rel="stylesheet" href="../static/style.css" type="text/css"> </link>
    <link rel="stylesheet" href="../static/room.css" type="text/css"> </link>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> </link>

    <!-- socket -->
    <script src="/socket.io/socket.io.js"> </script>
    <script src="/mustache/mustache.js"> </script>

    <!-- peer 
    <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
     -->
    


    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- velocity -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    
</head>

<body>
    <div id="header" class="border-bottom list-container-flat"> 
        <div id="logo" class="list-item-flat"> </div>
        <!-- <div id="search-bar" class="list-item-flat">  -->
            <div id="search-form">
                <input id="query" type="text" name="query" placeholder="search..."> </input>
            </div>
        <!-- </div> -->
    </div>
    <div id="room">
        <div id="left-nav"> 
            <div id="top-nav" class="border-bottom"> 
                <div class="top-nav-item"> 
                    Queue
                    <div class="nav-light"> </div>
                </div>
                <div class="top-nav-item"> 
                    Playlists 
                    <div class="nav-light"> </div>
                </div>
                <div class="top-nav-item"> 
                    Mics
                    <div class="nav-light"> </div> 
                </div>
                <div id="minimize-left"> <- </div>
            </div>
            <div class="spacer"> </div>
            <template id="queue">
                <div class="left-container" style="display: none">

                </div> 
            </template>
            
            <div id="playlists" class="left-container" style="display: none">
            </div>
            <div id="users-container" class="left-container">
                <div style="text-align: center"> connected mics </div>
            </div>
        </div>
        <div id="main" class="border-left shadow"> 

        </div>
    </div> 
</body>


<!-- simple peer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/6.2.1/simplepeer.min.js"> </script>
<script src="../static/room.js"> </script>










</html>