body {
	padding: 0;
	margin: 0;
}

.border-bottom {
	border-bottom-color: #f4f4f4;
	border-bottom-style: solid;
	border-bottom-width: 1px; 
}

.border-left {
	border-left-color: #f4f4f4;
	border-left-style: solid;
	border-left-width: 1px; 
}

.shadow {
	box-shadow: 1px 1px 10px #D0D0D0;
}

.spacer {
}

.list-container-flat {
	/*display: ;*/
	vertical-align: top;
}

.list-item-flat {
	display: inline-block;
	position: relative;
}

/***************************************************/
/* Main Containers */
/***************************************************/

#header {
	width: 100%;
	position: relative;
	top: 0;
	height: 50px;
	z-index: 100;
	background: white;
}

#room {
	width: 100vw;
	height: calc(100vh - 50px);
	/*padding-top: 50px;*/
	background: white;
	position: relative;
	display: block;
	z-index: 0;
}

#left-nav {
	width: 400px;
	height: 100%;
	position: relative;
	float: left;
	display: inline-block;
}

#main {
	width: auto;
	position: relative;
	height: 100%;
	background: white;
	display: inline-block;
}



/***************************************************/
/* Header */
/***************************************************/


#logo {
	height: 100%;
	width: 400px;
}

#search-bar {
	height: 100%;
	width: 200px;
	/*width: auto;*/
	/*width: auto;*/
	/*float: right;*/
}

#query { 
	position: relative;
	display: block;
	padding-left: 10px;
	/*max-width: 100%; */
	height: 100%;
	border: none; 
	/*vertical-align: middle;*/
    font-size: 15px;
    /*color: #283747;*/
    background-color: rgba(0, 0, 0, 0); 
    /*font-color: #ffffff;*/
}

#search-form {
	height: 100%;
	width: 200px;
	position: absolute;
	left: 400px;
	display: inline-block;
	/*width: 100%;*/
	/*display: inline !important;*/
}

/*
#info {
	position: fixed;
	top: 0;
	right: 0;
	width: auto;
	padding-right: 10px;

}*/


/*#room-id {
	display: inline-block;
	position: relative;
	text-align: right;
	font-size: 4px;
}*/

/***************************************************/
/* Left Nav */
/***************************************************/

#top-nav {
	height: 50px;
	width: 100%;
	background: #F8F8F8;
	position: relative;
	text-align: center;
}

.top-nav-item {
	display: inline-block;
	position: relative;
	line-height: 50px;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 15px;
}

#minimize-left {
	position: absolute;
	display: inline-block;
	right: 0;
	height: 100%;
	padding: 15px;
	line-height: calc(50px - 30px);
	vertical-align: middle;
}

.nav-light {
	position: absolute;
	bottom: 0;
	width: 0px;
	height: 3px;
	transition: all .2s ease-in-out;
}

.top-nav-item:hover .nav-light {
	width: 100%;
	background: #5B2C6F;
}

.left-container {
	width: 100%;
	height: calc(100% - 50px);
	position: relative;
	/*position: absolute;*/
	padding: 25px;
}

/***************************************************/
/* Mics */
/***************************************************/

#users-container {
	
}

.user-container {

	width: 100%;
	height: 50px;
	/*background: white;*/
	/*border: 1px solid #D5D5D5;*/
	padding-left: 10px;
	line-height: 50px;
	vertical-align: middle;	
}

.user-name {
	display: inline-block;
	color: #D5D5D5;
	position: relative;
}

.user-status {
	display: inline-block;
	float: right;
	margin: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	/*background: orange;*/
}

/***************************************************/
/* Queue */
/***************************************************/


/***************************************************/
/* Main */
/***************************************************/






