

.border-bottom {
	border-bottom-color: #f4f4f4;
	border-bottom-style: solid;
	border-bottom-width: 1px; 
}

.border-left {
	border-left-color: #f4f4f4;
	border-left-style: solid;
	border-left-width: 1px; 
}

.shadow-left {
	box-shadow: ;
}

/***************************************************/
/* Main Containers */
/***************************************************/

#header {
	width: 100%;
	position: fixed;
	top: 0;
	height: 50px;
	z-index: 100;
	background: white;
}

#room {
	width: 100vw;
	height: calc(100vh - 50px);
	padding-top: 50px;
	background: white;
	position: relative;
	display: block;
	z-index: 0;
}

#left-nav {
	width: 400px;
	height: 100%;
	position: relative;
	float: left;
	display: inline-block;
}

#main {
	width: auto;
	position: relative;
	height: 100%;
	background: white;
	display: inline-block;
}



/***************************************************/
/* Header */
/***************************************************/


#logo {
	display: inline-block;
	height: 100%;
	width: 400px;

}
#search-bar {
	display: inline-block;
	height: 100%;
	width: auto;
	/*width: auto;*/
	/*float: right;*/
}




/*
#info {
	position: fixed;
	top: 0;
	right: 0;
	width: auto;
	padding-right: 10px;

}*/


/*#room-id {
	display: inline-block;
	position: relative;
	text-align: right;
	font-size: 4px;
}*/

/***************************************************/
/* Left Nav */
/***************************************************/

#top-nav {
	height: 50px;
	width: 100%;
	position: relative;
}

/***************************************************/
/* Mics */
/***************************************************/

#users-container {
	width: 100%;
	height: 100%;
	position: relative;
	/*position: absolute;*/
	background: #F6F6F6;
	padding: 15px;
}

.user-container {

	width: 100%;
	height: 50px;
	/*background: white;*/
	/*border: 1px solid #D5D5D5;*/
	padding-left: 10px;
	line-height: 50px;
	vertical-align: middle;	
}

.user-name {
	display: inline-block;
	color: #D5D5D5;
	position: relative;
}

.user-status {
	display: inline-block;
	float: right;
	margin: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	/*background: orange;*/
}

/***************************************************/
/* Queue */
/***************************************************/


/***************************************************/
/* Main */
/***************************************************/






